.root {
    -fx-font-family: "Segoe UI", sans-serif;
    -fx-background-color: #f5f7fa;
}

/* Barra superior - IMPORTANTE: mayor z-index para que esté por encima */
.toolbar {
    -fx-background-color: white;
    -fx-padding: 0 16px;
    -fx-border-color: #e0e0e0;
    -fx-border-width: 0 0 1px 0;
    -fx-spacing: 10px;
    -fx-alignment: center-left;
    -fx-view-order: -2; /* Asegurar que esté por encima del drawer */
}

/* Hamburger menu - Asegurar que esté siempre clickeable */
.jfx-hamburger {
    -fx-view-order: -3; /* Más al frente que la toolbar */
    -fx-background-radius: 6px;
    -fx-background-color: transparent;
    -fx-cursor: hand;
}
.jfx-hamburger:hover {
    -fx-background-color: #eaeaea;
}
.jfx-hamburger StackPane{
    -fx-background-color: #75BB8B;
}

/* Botón usuario */
.user-button {
    -fx-background-color: transparent;
    -fx-background-radius: 6px;
    -fx-padding: 6px;
    -fx-cursor: hand;
    -fx-view-order: -3; /* También por encima del drawer */
}
.user-button:hover {
    -fx-background-color: #eaeaea;
}

/*Cuenta bancaria*/
.cuenta-label {
    -fx-font-weight: bold; 
    -fx-font-size: 16px;
    -fx-background-color: transparent;
    -fx-background-radius: 6px;
    -fx-padding: 6px;
    -fx-cursor: hand;
    -fx-view-order: -3; /* También por encima del drawer */
}
.cuenta-label:hover {
    -fx-background-color: #eaeaea;
}

/* Panel resumen financiero */
.resumen-box {
    -fx-padding: 20px;
}

.info-title-label {
    -fx-font-size: 20px;
    -fx-font-weight: bold;
    -fx-text-fill: #333;
}

.resumen-card {
    -fx-padding: 15px;
    -fx-background-color: white;
    -fx-border-color: #ccc;
    -fx-border-radius: 8px;
    -fx-background-radius: 8px;
    -fx-effect: dropshadow(one-pass-box, rgba(0,0,0,0.1), 4, 0, 0, 2);
    -fx-cursor: hand;
    -fx-min-width: 140px;
}

.resumen-label {
    -fx-font-size: 14px;
    -fx-text-fill: #555;
}
.resumen-value-gasto{
    -fx-text-fill: #C73C31;
    -fx-font-weight: bold;
    -fx-font-size: 18px;
}
.resumen-value-ingreso{
    -fx-text-fill: #75BB8B;
    -fx-font-weight: bold;
    -fx-font-size: 18px;
}
.resumen-value-saldo{
    -fx-text-fill: #2c3e50;
    -fx-font-weight: bold;
    -fx-font-size: 18px;
}

.label {
    -fx-font-size: 14px;
}

.info-label {
    -fx-font-size: 16px;
    -fx-font-weight: bold;
}
/*Gráfico de barras*/
.gasto-barchart {
    -fx-padding: 20px;
    -fx-background-color: #ffffff;
    -fx-border-color: #adadad;
    -fx-border-radius: 8px;
    -fx-background-radius: 8px;
}

.combo-box:focused,
.combo-box:focused .arrow-button,
.combo-box:focused .text-field {
    -fx-border-color: transparent;
    -fx-focus-color: transparent;
    -fx-faint-focus-color: transparent;
}


/* Drawer - Asegurar que no bloquee el toolbar */
.jfx-drawer {
    -fx-view-order: 0; /* Por debajo del toolbar y hamburger */
}